.cover__conteiner {
    color: #FFFFFF;
    position: relative;
    background-image: url(../../../images/cover-trains.jpg);
    height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .cover__conteiner::before {
    transition: opacity 1s linear 0.6s;
    background-color: #2A2C2F;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    opacity: 0.3;
    z-index: -1;
  }
  
  .cover__conteiner:hover::before {
    opacity: 0.8;
  }
  @media screen and (max-width: 1024px) {
    .cover__conteiner {
      max-width: 1024px;
      height: 640px;
    }
  }
  @media screen and (max-width: 768px) {
    .cover__conteiner{
      max-width: 768px;
      height: 480px;
    }
  }
  @media screen and (max-width: 400px) {
    .cover__conteiner{
      max-width: 320px;
      height: 200px;
    }
  }