.header {
    margin: 28px 48px 56px;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    align-items: center;
    max-height: 52px;
  }
  @media screen and (max-width: 1024px) {
    .header{
      margin-bottom: 48px;
      max-width: 928px;
    }
  }
  @media screen and (max-width: 768px) {
    .header{
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  @media screen and (max-width: 390px) {
    .header {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
        max-width: 288px;
        height: 42px;
    }
  }
  