.intro__title {
    margin: 0 auto 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin-left: 148px;
    max-width: 690px;
    }
    @media screen and (max-width: 1024px) {
      .intro__title{
        margin-left: 48px;
      }
    }
    @media screen and (max-width: 768px) {
      .intro__title{
        max-width: 720px;
        margin-left: 24px;
      }
    }
    @media screen and (max-width: 320px) {
        .intro__title{
          max-width: 288px;
          margin-left: 16px;
          font-size: 32px;
          line-height: 35px;
        }
      }
    